[core]
	editor = nvim
[user]
	email = jhosscy@protonmail.com
	name = jhosscy
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
	keepBackup = false
